<%= form_for([@company, @company.partners.build]) do |f| %>
  <div class="field">
    <%= f.label :name %> <%= f.text_field :name %>
  </div>
  <div class="field">
	  <%= f.label :info %> <%= f.text_area :info, rows:2, cols:30 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
