<%= form_for @bid, :html =>{:multipart =>true} do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <p class="error"><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</p>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buyer %><br />
    <%= f.text_field :buyer %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :sector %><br />
    <%= f.text_field :sector %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows:7, cols:40 %>
  </div>
  <div class="field">
    <%= f.label :opening_date %><br />
    <%= f.datetime_select :opening_date %>
  </div>
  <div class="field">
    <%= f.label :closing_date %><br />
    <%= f.datetime_select :closing_date %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :addition_info %><br />
    <%= f.text_area :addition_info, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :attachement %><br />
    <%= f.file_field :attachment %>
    <%= f.hidden_field :attachment_cache %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
